.content-header.page-header {
  margin-top: 15px;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  h1 {
    font-size: $font-size-h1 / 1.5;
    margin: 0;
    line-height: 38px;
  }

  ul.nav-tabs {
    padding-left: 15px;
    margin: 0 -15px 15px -15px;
  }

  .page-actions {
    text-align: right;

    form {
      display: inline-block
    }
  }
}
